* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*creating variable for the css*/
:root{
  --color-131921:#131921;
  --color-3b4149:#3b4149;
  --color-febd69:#febd69;
  --color-232f3e:#232f3e;
  --color-bf4800:#bf4800;
  --color-f5f5f7:#f5f5f7;
  --color-ededed:#ededed;
  --color-777777:#777777;
  --color-1c1c1b:#1c1c1b;

}
/*card wrapper*/
.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 4px;
}
/*Card wrapper Ends Here*/
body {
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
/*styling the form in search bar*/
.form-control:focus{
  box-shadow: none;
  border-color:inherit;
}
/*cart styling rules*/
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
/*styling main-banner-content--Buy button--*/
.button{
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}
.button:hover {
  background-color: var(--color-febd69);
  color:#131921;
}

/*Header part*/
.header-top-strip {
  border-bottom:1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}
/*Top strip section*/
.col-6 {
  padding-right: 50px;
  padding-left: 50px;
}
/*e-mali logo*/
.col-2 {
  padding-left: 60px;
}
/*middle section in header*/
.col-5 {
  padding-right: 60px;
}
.col-12 {
  padding-left: 35px;
}
.menu-bottom span {
  margin-right: 50px;
  margin-left: 10px;
}
.menu-links{
  margin-left: 30px;
}
.header-upper {
  background-color: var(--color-131921);
}
/**header bottom*/
.header-bottom {
  background-color:var(--color-232f3e)
}
.header-upper .input-group-text {
  background-color:var(--color-febd69);
}
.header-upper .header-upper-links img{
  width: 35px;
  height: 35px;
}
.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color: white;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
}
/**Styling the dropdown*/
.header-bottom .dropdown button{
  color: white;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
}
/*
.header-bottom .dropdown button::before{
  contain: url("../public/images/menu.svg");
}
*/
/*removing the shadow property in button*/
.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px,57px,0px)!important;
}
/**styling the class drop down-items*/
.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69)!important;
}
/*Header part End Here */

/*Footer part start Here**/
footer{
  background-color: var(--color-232f3e);
}
/**dividing the footer to 3 parts*/
footer:not(:first-child) {
  border-top: 1px solid rgb(255, 255, 255,0.1);
}

/**Styling top footer child --input group text*/
footer.input-group-text{
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
  font-weight: 400;
}
.footer-top-data {
  padding-left: 50px;
}
/*footer left side*/
.container-xxl {
  padding-left: 35px;
}
/*footer bsearch icons*/
.social_icons {
  display: flex;
  gap: 20px;
}
/*footer part end here**/

/*Home Page*/
/*styling main-banner-content*/
.free-delivery-sticker {
  position: absolute;
  top: -10px;
  left: -50px;
  z-index: 1;
  /*opacity: 0.4;*/
}

.main-banner-content{
  top: 15%;
  left: 5%;
}
.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color:var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5{
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  /*letter-spacing: 0.4;*/
  color: var(--color-131921);
}
/*styling small-banner-content*/
.small-banner-content{
  top: 25%;
  left: 10%;
}
.small-banner-content h4{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color:var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5{
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}
.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  /*letter-spacing: 0.4;*/
  color: var(--color-131921);
}
/*combining the four small div into one to display in width*/
.small-banner {
  width: 49%;
}
/*Home wrapper 2*/
.home-wrapper-2{
  background-color: var(--color-f5f5f7);
}
/*Home wrapper 2 Ends*/
/*Home, services section*/
.services > div {
  margin-right: 20px;
}

.services > div:last-child {
  margin-right: 0;
}
/*category section*/
.container-xxl {
  margin-right: 30px;
}
.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
  margin-right: 50px;
}
/*styling for div categories--Major container--*/
.categories>div{
  width: 25%;
  padding: 10px 20px 10px 10px;
}
.categories>div>div>{
  width: 60%;
}
/*styling the child div*/
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom:  1px solid var(--color-ededed);
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){
  border-right:  1px solid var(--color-ededed);
}
.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7){
  border-right:  1px solid var(--color-ededed);
}

/*End of category section*/
/*End of Home Page**/
/*marquee--*/
.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 4px;
}

/*Ends Here*/
/*blogcads start Here*/
.blog-card {
  background-color: white;
  border-radius: 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
/*blog content date*/
.date{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}
/*blog content h5*/
.blog-content h5 {
  font-size: 18px;
  color: var(--color-131921);
}
/*blog content description*/
.blog-content p.description{
  font-size: 14px;
  line-height: 22px;
  color: var(--color-777777);
}
/*Section Heading*/
.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
/*blogcards End Here*/
/*Product Card*/
.product-card{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  /*not visible until hover*/
  overflow: hidden;
}
.product-card .product-image {
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card .product-image img{
  object-fit: contain;
  transition: 0.3s;
}
/*product ---hide the last-child*/
.product-card .product-image> img:last-child {
  display: none;
}
/*image on hover--display(on hover the hidden image)*/
.product-card:hover .product-image> img:nth-child(1) {
  display: none;
  transition: 0.3s;
}
.product-card:hover .product-image> img:last-child {
  display: block;
}

/*product card hover--hidden--*/
.product-card:hover .action-bar{
  right: 10px;
}
/*product details h6*/
.product-card .product-details h6{
  color: var(--color-bf4800);
  font-size: 13px;
}
/*product details h5*/
.product-card .product-details h5{
  font-size: 15px;
  color: var(--color-1c1c1b);
}
/*product details price p.price*/
.product-card .product-details p.price{
  font-size: 16px;
  color: var(--color-1c1c1b);
}
/*action bar*/
.action-bar{
  top: 10%;
  right: -23px;
  transition: 0.3s;
}
/*wish-list*/
.wishlist-icon {
  top: 3%;
  right: 15px;
}
/*Product card Ends Here*/
